html,
body {
		width: 100%;
		height: 100%;
		font-family: 'Lato', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=roboto); 

h2{
	font-size: 3em;
	text-transform: uppercase;
}

h4{
	font-size: 1.6em;
	color: #3c3b3b;
	line-height: 150%;
}

span.space {
		margin-top:5em;
		display: block
}
.row {
		margin-left: 0;
		margin-right: 0;
}


 .logo{
		background-image: url(../images/Batik-logo-large.png);
		 background-position: center; 
		background-repeat: no-repeat;
		width: 304px;
		height: 131px;
		margin: 0 auto 25px auto;
 }



/* //////////// HEADER //////////// */

.headerbanner {
		position: relative;
		width: 100%;
		min-height: 100%;
		text-align: center;
		color: #fff;
		/*background-image: url(../images/header.jpg);*/
		background-color: #000;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
}

.header-content {
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		top: 30%;
		margin: 0 auto;
		text-align: center;
}

.header-content .header-content-inner h1 {
		margin-top: 0;
		margin-bottom: 0;
		text-transform: uppercase;
		font-weight: 100;
		font-size: 4.5em;
}

.header-content .header-content-inner h2 {
		text-transform: uppercase;
		font-weight: 100;
		font-size: 4em;
}

.header-content .header-content-inner h3 {
		text-transform: uppercase;
		font-weight: 100;
		font-size: 1.5em;
}

.navbar-inverse {
		background-color: #000;
		opacity: .8;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border-color: #000;
}

		
/* //////////// ABOUT US ////////////// */


.aboutsection {
	background-color: #eeeeee;
	padding: 60px 0;
}

.aboutsection  h2 {
	color: #AEA79F;
}

.workgallery{
		margin: 20px 0;
}


/* ////////////  PRICE LIST ////////////// */

.section-heading {
		margin-bottom: 50px;
}

.pricelistsection{
	background-color: #AEA79F;
	padding: 60px 0;
}

.pricelistsection h2{
	color: #fff;
}

.accordion-panel {
		display: none;
}

.price{
		padding: 20px 10px !important;
		font-size: 20px;
		border-bottom: 1px solid #dcdbdb;
}

.price .col-xs-4{
		font-size: .8em;
		padding: 20px 0;
}

.price:last-of-type { border-bottom:none }

.list-group-item {
		padding: 0;
}

.title-deactive {
		background-color: #dcdbdb;
}
/* for name underneath stylist */

.name {
			display: block;
	font-size: 20px;
	font-weight: 100;
}

.glyphicon {
		float: right;
}


/* //////////// PROMO SLIDER ////////////// */

.promoslidersection img{
		width: 100%;
}

.carousel-caption {
	right: 0;
	vertical-align: middle;
	left: 0;
	top: 34%;
	margin: 2% 0 1% 0; 
	bottom: 38%;
	background-color: rgba(0,0,0,.6);
	width: 100%;
}

.carousel-caption h2 {
	font-size: 2.5em;
	letter-spacing: .03em;
	font-weight: 100;
}

.carousel-caption p {
	margin: -10px 0;
		font-size: 1.3em;
		font-weight: 100
}

.item.bannertextwrap {
	position: relative;
}


.owl-theme .owl-controls {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px;
}

.owl-theme .owl-controls .owl-page span {
	background-color: #ffffff !important;
}

.bannertext{
	position: absolute;
	background-color: rgba(0, 0, 0, .5);
	height: auto;
	top: 40%;
	bottom: auto;
	right: 0;
	left: 0;
	text-align: center;
	color: #ffffff;
	letter-spacing: .3em;
}


.bannertext h1{
	font-size: 2em;
}


.bannertext p{
	font-size: 1em;
}

/* //////////// CONTACT ////////////// */

.contactsection {
		background-color: #eeeeee;
		padding: 40px 0;
}
.contactsection p {
		font-size: 1.5em;
		margin: 0;
}

#map{
		
	display: block;
	width: 80%;
	height: 320px;
	margin: 20px auto;
	-moz-box-shadow: 0px 5px 20px #ccc;
	-webkit-box-shadow: 0px 5px 20px #ccc;
	box-shadow: 0px 5px 20px #ccc;
}
#map.large{
	height:500px;
}

a.btn.btn-social-icon.btn-facebook{
	background-color: #fff;
	color: #101010;
}

/* //////////// FOOTER ////////////// */

footer {
 background: #3c3b3b;
 padding: 20px 0;
 color: #ffffff;
}

footer a{
 color: #7e7c7c;
}

footer a:hover{
 color: #ffffff;
}

.contactsection .section-heading{
	 margin-bottom:10px;
}
		



@media (max-width: 767px) {
		
 .navbar-inverse .navbar-nav>li>a,
		.navbar-nav>li>a{
				line-height: 33px;
				color: #fff;
				opacity: 1;
				font-size: 1.5em;
				heigth: 100vh;
		}
		 .navbar-inverse .navbar-toggle {
				background: none;
				width: 90% !important;
		}
		.navbar-inverse .navbar-collapse,
		.navbar-inverse .navbar-form,
		.navbar-fixed-top .navbar-collapse{
		height:100vh !important;
		max-height:800px;
		}

	.bannertext {
		position: absolute;
		background-color: rgba(0, 0, 0, .5);
		height: auto;
		top: 27%;
		bottom: auto;
		right: 0;
		left: 0;
		text-align: center;
		color: #ffffff;
		letter-spacing: 0;
		padding: 10px 0;
	}

	.bannertext h1 {
		font-size: 2em;
		line-height: inherit;
		/* padding: 10px 0; */
	}

	.bannertext p {
		font-size: 1.2em;
		margin: 0;
	}

	.owl-theme .owl-controls {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 13px;
	}
		.price .col-xs-4{
				font-size: 80%;
		}
		.header-content .header-content-inner h2 {
				text-transform: uppercase;
				font-weight: 100;
				font-size: 3em;
		}

		 .bannertext{
			margin-top: 0;
			top: 40%;
		}

}


@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2) {


		 .logo{
				background-image: url(../images/Batik-logo-mobile.png);
				background-repeat: no-repeat;
				 background-position: center; 
				width: 90%;
				margin: 0 auto;
		 }
		
		.headerbanner {
				min-height:90vh;;
		 }
		
		.header-content {
		position: absolute;
		width: 100%;
		top: 23%;
		margin: 0 auto;
		text-align: center;
		}
		.header-content .header-content-inner h2{
		font-size:2EM;
		}
		.header-content .header-content-inner h3{
		padding:0;
		margin:0;
		}
		
		.aboutsection,
		.pricelistsection,
		.contactsection{
				padding: 15px 0;
		}
		
		.price .col-xs-4{
				font-size: 70%;
		}
 
	.bannertext {
		position: absolute;
		background-color: rgba(0, 0, 0, .5);
		height: auto;
		top: 27%;
		bottom: auto;
		right: 0;
		left: 0;
		text-align: center;
		color: #ffffff;
		letter-spacing: 0;
		padding: 10px 0;
	}

	.bannertext h1 {
		font-size: 1.2em;
		line-height: inherit;
		margin: 0;
	}

	.bannertext p {
		font-size: 14px;
		margin: 0;
	}

	.owl-theme .owl-controls {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 13px;
	}
		
		h2.section-heading {
				font-size: 2em;
				margin-bottom: 10px;
		}
		
		#contact h4 {
				font-size: 1.2em;
				margin-bottom: 10px;
		}
		
		.contactsection p {
				font-size: 1.2em !important;
		}

		 #map{
			height: 300px;
		 }
}


